@model Ogrenci

@{
    ViewData["Title"] = "Öğrenci Düzenleme";
}

<div class="row">
    <div class="col-8">
        <form asp-action="Edit" asp-controller="Ogrenci" method="post"></form>
    </div>
    <div class="col-4">
        <h4>Kurslar</h4>
        <hr>
        <ul>
            @foreach(var item in @Model.KursKayitlar)
            {
                <li>@item.Kurs.Baslik</li>
            }
        </ul>
    </div>
</div>

<form asp-action="Edit" asp-controller="Ogrenci" method="post">

    <div asp-validation-summary="All" class="text-danger"></div>
    <input type="hidden" asp-for="OgrenciId">
    <div class="mb-3">
        <label asp-for="OgrenciAd" class="form-label">Öğrenci Adı</label>
        <input asp-for="OgrenciAd" class="form-control">
    </div>
    <div class="mb-3">
        <label asp-for="OgrenciSoyad" class="form-label">Öğrenci Soyadı</label>
        <input asp-for="OgrenciSoyad" class="form-control">
    </div>
    <div class="mb-3">
        <label asp-for="Eposta" class="form-label">E-posta</label>
        <input asp-for="Eposta" class="form-control">
    </div>
    <div class="mb-3">
        <label asp-for="Telefon" class="form-label">Telefon No.</label>
        <input asp-for="Telefon" class="form-control">
    </div>

    <button type="submit" class="btn btn-secondary">Kaydet</button>

</form>
