@model Kurs

@{
    ViewData["Title"] = "Kurs Editle";
}
<h2>Kurs Editle</h2>
<hr>
<div class="row">
    <div class="col-8">
        <form asp-action="Edit" asp-controller="Kurs"  method="post">
            <input type="hidden" asp-for="KursId">
            <div class="mb-3">
                <label asp-for="Baslik" class="form-label">Başlık</label>
                <input asp-for="Baslik" class="form-control">
            </div>
            <div class="mb-3">
                <label asp-for="OgretmenId" class="form-label">Öğretmen</label>
                <select asp-for="OgretmenId" asp-items="ViewBag.Ogretmenler">
                    <option value="">Seçiniz</option></select>
            </div>
            <button type="submit" class="btn btn-secondary">Kaydet</button>
        </form>
    </div>
    <div class="col-4">
        <h4>Öğrenciler</h4>
        <hr>
        <ul>
            @foreach(var item in @Model.KursKayitlari)
            {
                <li>@item.Ogrenci.AdSoyad</li>
            }
        </ul>
    </div>
</div>
