@model Kurs

@{
    ViewData["Title"] = "Kurs Editle";
}
<h2>Kurs Editle</h2>
<hr>
<form asp-action="Edit" asp-controller="Kurs"  method="post">
    <input type="hidden" asp-for="KursId">
    <div class="mb-3">
        <label asp-for="Baslik" class="form-label">Başlık</label>
        <input asp-for="Baslik" class="form-control">
    </div>
    <button type="submit" class="btn btn-secondary">Kaydet</button>
</form>